.login-form{
    input {
        display: block;
        width: 35vw;
        padding: 8px 6px;
        margin: 10px 0 20px 0;
    }
    .login-btn {
        padding: 7px 20px;
        margin: auto;
        color: #ffffff;
        background: #8a2be2;
    }
    div{
        color: red;
    }
    
}